---
import Layout from '../layouts/Layout.astro';
import Mitosis from '../components/Mitosis.astro';
import MyButton from '../components/MyButton.jsx';
---

<Layout title="Welcome to Astro.">
<astro-doc>
	<header>
	  <h1>Mitosis App</h1>
	</header>
	<main>
	  <MyButton client:load />
	  <Mitosis />
	</main>
  </astro-doc>
</Layout>